html{
    font-family: Arial, Helvetica, sans-serif;
}
.lista{
    display: flex;
    justify-content: center;
}
.tabela{
    height: 150%;
    display: flex;
    justify-content: center;
    
}
.cadastro{
    margin-top: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.busca{
    display: flex;
    justify-content: center;
}